//Background Colors
$coral: #cd5b45;
$turquoise: #40e0d0;

//COLORS
$white: #ffffff ;

//MARGIN    
$MarginPresentation: 8rem;

//BUTTONS
$widthButtons:6rem;
$heightButtons:3rem;

//FONTS


//BREAKPOINTS
$breakpoints:(
    sm: 425px,
    md: 768px,
    lg: 1024px
);