.navbar{
    height: 7rem;
    margin-right:15rem;  
    
    
}
.logo{
    margin-left: 15rem;
    font-size:xxx-large;
}
sup{
    font-size: xx-small;
   
}
.menu{
    display: flex;
    flex-direction: row; 
}
i{
    padding:2rem;
    font-size: xx-large;
}